:root{
    --cor-principal: #ffffff;
    --botao-destaque: #167bf7;
    --cor-de-fundo: #00030c;
}

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #00030c;
    font-weight: 400;
    font-size: 16px;
}


.principal{
    background-image: url("img/primevideo-seo-logo\ 1.png");
    font-size: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container--botao{
background-color: var(--botao-destaque);
color: #ffffff;
padding: 1em;
border-radius: 100px;
text-decoration: none;
display: block;
}